@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: linear-gradient(180deg, #FFF9EE 0%, #FDF3E0 100%);
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d8cdb0;
  border-radius: 10px;
}
